body {
  background-color: #84a9ac;
}
hr {
  width: 25%;
  border-color: white;
  border-width: 5px;
  border-style: dotted none none;

}

h1 {
  color: #204051;
}

h3 {
  color: #204051;
}
